* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.App {
  min-height: 100vh;
  /* Vh Relative to the viewport’s height*!*/
  /*background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);*/
  /*text-align: center;*/
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

/*question form*/
.container {
  border-radius: 5px;
  /*background-color: #f2f2f2;*/
  padding: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.container h2{
  color: white;
  font-family: Helvetica;
  display: inline-block;
}
.container button{
  background-color:white;
  color:palevioletred;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid palevioletred;
  border-radius: 0.5em;
}
.container form{
  min-height:10vh;
  /*//将对象作为弹性伸缩盒显示*/
  display: flex;
  justify-content: center;
  align-items: center;

}
.container input[type=text]{
  width:50%;
  border:none;
  padding:10px;
}
.container input[type=submit]{
  background: lightcoral;
  border :none;
  padding:10px 20px;
  /*color 表示字体的颜色*/
  color:white;
}
.container h3{
  color: white;
  margin-right: 3%;
  display: inline-block;
}
ul{
  margin-left: 35%;
  color: white;
  text-align: left;
}
.container2 {
  width: 60%;
  border-radius: 0.5em;
  box-shadow: 0px 5px 20px rgb(71,71,71);
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.container2 input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.container2 input[type=submit] {
  background-color: #4CAF50;
  color: white;
  margin-top: 6px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  width: 20%;
}
.container2 label {
  padding: 12px 12px 12px 0px;
  display: inline-block;
  float: left;
  margin-left: 20%;
}
.container3 {
  /*width: 70%;*/
  border-radius: 5px;
  color: white;
  font:normal 30px Arial,Helvetica,sans-serif;
  align-items: center;
  text-align: center;
  justify-content: center;
  /*background-color: #f2f2f2;*/
  padding: 20px;
  /*margin-top: 20px;*/
  margin-left: 10%;
  margin-right: 10%;
}
.container3 p{
  text-align: left;
  margin-left: 10%;
}
.Pie{
  color: white;
  margin-top: 5px;
  min-width: 50%;
  min-height: 40%;
  display: flex;
  flex-wrap:wrap;
  text-align: left;
  justify-content:center;
  padding-right: 1%;
  display: inline-block;
}
.Pie button{
  /*position: absolute;*/
  float: left;
  color: black;
  opacity: 0.1;
  padding :7px 20px;
  display: inline-block;
  margin-top: 1%;
  margin-right: 4px;
  /*margin-left: 20px;*/
  border-radius: 1rem;
  cursor:pointer;
  background-color: red;
}
.Pie button:hover{
  opacity: 1;
}
.Pie h4{
  overflow: hidden;
  /*position: absolute;*/
  /*margin-left: 1%;*/
  /*display: inline;*/
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row button{
  background-color: lightskyblue;
  color: white;
  margin-top: 6px;
  margin-left: 20%;
  /*margin-right: 20%;*/
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  width: 20%;
}
ol{
  /*background-color: orange;*/
margin-top: 0;
  margin-left: 10%;
margin-bottom: 2px;
}
ol li{
  padding: 5px;
  margin-left: 35px;
  /*margin-right: 0%;*/
  border-radius: 0.5em;
  /*display: inline-block;*/
}
.singleQ{
  border-radius:10px;
  box-shadow: 0px 5px 20px rgb(71,71,71);
  /*margin:20px;*/
  /*display: flex;*/
  flex-direction: column;
  padding-bottom: 4px;
  /*justify-content:space-around;*/
  background: white;
  align-items:flex-start;
  text-align: left;
  min-width: 40%;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
}
.singleQ h3{
  /*background-color: #ff0844;*/
  color: black;
  margin: 0;
  display: inline-block;
  /*margin-le: 0;*/
}
.singleQ h4{
  /*background-color: lightskyblue;*/
  margin: 2% 0 0 2%;
  display: inline-block;
  /*margin-le: 0;*/
}
.singleQ button{
  color: black;
  opacity: 0.5;
  padding :7px 20px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 1rem;
  cursor:pointer;
  background-color: red;
}
.singleQ button:hover{
  opacity: 1;
}


 /*responsive*/
@media screen and (max-width: 600px) {
  label{
    margin-left: 1px;
  }
 .row button{
    margin-top: 2px;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .col-25, .col-75, input[type=submit] {
    margin-top: 2px;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .container h2{
    margin-right: 10%;
  }
  .Pie{
    min-width: 70%;
  }
}
